<div class="mod-wrapper">
    {% for topic, topicData in data %}
        {% set lastData = topicData.SENSOR[topicData.SENSOR.length-1] %}
        <div class="topic-wrapper small {{ topic }}">
            <table class="tasmota-data">
                <tr>
                    <th class="tasmota-data-header" colspan="2">{{ topic }}</th>
                    <th colspan="2">
                        <label class="tasmota-switch">
                            <input type="checkbox">
                            <span class="slider round" id="switch-{{ topic }}" onclick="{{ topic | toggleSwitch }}"></span>
                        </label>
                    </th>
                </tr>
                <tr class="tasmota-data-tr">
                    <td class="tasmota-data-td">{{ lastData.Time }}</td>
                </tr>
                <tr class="tasmota-data-tr">
                    <td class="tasmota-data-td">Current:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Current }} W</td>
                    <td class="tasmota-data-td">Voltage:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Voltage }} V</td>
                </tr>
                <tr class="tasmota-data-tr">
                    <td class="tasmota-data-td">Today:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Today | round(2) }} kWh</td>
                    <td class="tasmota-data-td">Total:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Total | round }} kWh</td>
                </tr>
                <tr class="tasmota-data-tr">
                    <td class="tasmota-data-td">Yesterday:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Yesterday | round(2) }} kWh</td>
                    <td class="tasmota-data-td">Daily Avg:</td><td class="tasmota-value-td">{{ lastData.ENERGY.Average }} kWh</td>
                </tr>
            </table>
        </div>
        <div class="tasmota-graph">
            <canvas class="tasmota-canvas" id="canvas-{{ topic }}" style="height: 300px; width: 300px">
            </canvas>
        </div>
    {% endfor %}
</div>
